.secc-projects{
    background-color: var(--gris-max);
}
.title_proyects{
    color: var(--blanco) !important;
}
.subtitle_proyects{
    color: var(--gris-claro);
}
.proyect_title{
    color:var(--gris-claro);
}
.proyect_description{
    color: var(--gris-mid);
}
.proyect_link{
    color:var(--gris-mid);
}