/* PALETA DE COLORES */
:root {
  --color-light-orange: #f26716;
  --color-white: #f2ebd5;
  --color-green: #79a672;
  --color-dark-green: #3c593b;
  --color-orange: #f2541b;
  --color-black: #0d0d0d;
  --int-title-font-size: 2.9vw;
  --int-title-letter-spacing: -0.17222222222222222rem;
  --int-p-font-size: 5vw;
  --int-info-font-size: 1.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  font-family: Clash Display, sans-serif;
}
body {
  background: var(--color-white);
}
a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 844px) {
  :root {
    --int-title-font-size: 8vw;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin: 0 auto;
  }
}
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.4;
  }
}
@media screen and (min-width: 3840) {
  body {
    zoom: 3.2;
  }
}
