:root{
    /* --gris-max: #595959; */
    --gris-max:#222326;
    --gris-oscuro:#33353a;
    --gris-osc:#8C8C8C;
    --gris-mid:#BFBFBF;
    --gris-claro:#D9D9D9;
    --blanco:#F2F2F2;
}
*{
    font-family: 'Clash Display', sans-serif !important;
}

body{
    background-color: var(--blanco);
}


.title_section{
    font-size: 6em !important;
}
