@import "tailwindcss";
@import "tw-animate-css";
@plugin "@iconify/tailwind4";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@theme {
  /* COLOR LIGHTMode */
  --color-primary-light: rgb(240, 167, 209);
  --color-primary: #f780c9;
  --color-light: #f2f2f2;

  /* COLOR DARKMode */
  --color-dark-light: #262626;
  --color-dark: #141513;

  --mi-ancho: 2.2rem;
  --mi-alto: 2rem;
  /* Margenes */
  --margin-xss: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-2xl: 2.5rem;
  --margin-3xl: 3rem;

  /* fonts */
  --ff: "Geist", sans-serif;
  --h1: bold 4rem/1em var(--ff);
  --h2: bold italic clamp(1rem, calc(5vw + 0.5rem), 4rem) var(--ff);
  --h3: bold 2.25rem/1.2em var(--ff);
  --h4: bold 1.5rem/1.6em var(--ff);
  --big: 1.25rem/1.6em var(--ff);
  --p: 1rem/1.6em var(--ff);
  --small: 0.75rem/2em var(--ff);

  /* UIs */
  --h1ui: bold 15vw var(--ff);
  --h2ui: bold 2.25rem/1.2em var(--ff);
  --h3ui: bold 1.5rem/1.2em var(--ff);
  --h4ui: bold 1.12rem/1.6em var(--ff);
  --bigui: 1rem/1.6em var(--ff);
  --pui: 0.8rem/1.6em var(--ff);
  --smallui: 0.75rem/1.8em var(--ff);
  --resh1: bold 1.5vw/1.2vw var(--ff);

  @keyframes sink {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
  }
}

body {
  font-family: var(--ff);
  text-wrap: balance;
}

@layer utilities {
  .icon-size {
    width: var(--mi-ancho);
    height: var(--mi-alto);
  }
  .section-title {
    font: var(--h2);
  }
}
@layer utilities {
  .margin-xss {
    margin: var(--margin-xss);
  }
  .margin-xs {
    margin: var(--margin-xs);
  }
  .margin-s {
    margin: var(--margin-s);
  }
  .margin-m {
    margin: var(--margin-m);
  }
  .margin-l {
    margin: var(--margin-l);
  }
  .margin-xl {
    margin: var(--margin-xl);
  }
  .margin-2xl {
    margin: var(--margin-2xl);
  }
  .margin-3xl {
    margin: var(--margin-3xl);
  }
}

/* lenis */
html {
  font-family: var(--ff);
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.hover-sim span {
  /* Estilos similares al hover, puedes tunear esto */
  color: var(--color-primary) !important;
  transform: scale(1.05);
}
