@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@iconify/tailwind4";
@tailwind utilities;
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@theme {
  /* COLOR LIGHTMode */

  /* COLOR DARKMode */
  --color-primary-light: rgb(240, 167, 209);
  --color-primary: rgb(245 127 196);

  --color-secondary: #d9d9d9;
  --color-dark: #141513;
  --color-grey-light: #5d5f8c;
  --color-grey: #1a1a1a;

  --font-title: "Clash Display", "Clash Display Placeholder", sans-serif;
  --bd-color: rgba(217, 217, 217, 0.5);

  --mi-ancho: 2.2rem;
  --mi-alto: 2rem;
  /* Margenes */
  --margin-xss: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;

  /* fonts */
  --ff: "Geist", sans-serif;
  --h1: bold 4rem/1em var(--ff);
  --h2: bold 3rem/1.2em var(--ff);
  --h3: bold 2.25rem/1.2em var(--ff);
  --h4: bold 1.5rem/1.6em var(--ff);
  --big: 1.25rem/1.6em var(--ff);
  --p: 1rem/1.6em var(--ff);
  --small: 0.75rem/2em var(--ff);

  /* UIs */
  --h1ui: bold 3rem/1.2em var(--ff);
  --h2ui: bold 2.25rem/1.2em var(--ff);
  --h3ui: bold 1.5rem/1.2em var(--ff);
  --h4ui: bold 1.12rem/1.6em var(--ff);
  --bigui: 1rem/1.6em var(--ff);
  --pui: 0.8rem/1.6em var(--ff);
  --smallui: 0.75rem/1.8em var(--ff);
}

body {
  font-family: var(--ff);
  text-wrap: balance;
}

/* landing page */
h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
h4 {
  font: var(--h4);
}
.big {
  font: var(--big);
}
p {
  font: var(--p);
}
.small {
  font: var(--small);
}

/* UIs */
.ui h1 {
  font: var(--h1ui);
}
.ui h2 {
  font: var(--h2ui);
}
.ui h3 {
  font: var(--h3ui);
}
.ui h4 {
  font: var(--h4ui);
}
.ui .big {
  font: var(--bigui);
}
.ui p {
  font: var(--pui);
}
.ui .small {
  font: var(--smallui);
}

/* gradient text */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 8s linear infinite;
  }

  .icon-size {
    width: var(--mi-ancho);
    height: var(--mi-alto);
  }
}
@layer utilities {
  .margin-xss {
    margin: var(--margin-xss);
  }
  .margin-xs {
    margin: var(--margin-xs);
  }
  .margin-s {
    margin: var(--margin-s);
  }
  .margin-m {
    margin: var(--margin-m);
  }
  .margin-l {
    margin: var(--margin-l);
  }
  .margin-xl {
    margin: var(--margin-xl);
  }
  .margin-xxl {
    margin: var(--margin-xxl);
  }
}

/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Color Theme Swatches in Hex */
/* .Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-1-hex { color: #F26BB5; }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-2-hex { color: #D971AA; }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-3-hex { color: #191726; }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-4-hex { color: #5D5F8C; }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-5-hex { color: #3C4959; } */

/* Color Theme Swatches in RGBA */
/* .Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-1-rgba { color: rgba(242, 106, 181, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-2-rgba { color: rgba(216, 112, 169, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-3-rgba { color: rgba(24, 22, 38, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-4-rgba { color: rgba(92, 94, 140, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-5-rgba { color: rgba(59, 72, 89, 1); } */

/* Color Theme Swatches in HSLA */
/* .Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-1-hsla { color: hsla(326, 84, 68, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-2-hsla { color: hsla(326, 57, 64, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-3-hsla { color: hsla(247, 25, 12, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-4-hsla { color: hsla(236, 20, 45, 1); }
.Girl-portrait.-beautiful-vaporwave-beauty-porter-style-girls-gothic-fashion-style-5-hsla { color: hsla(213, 19, 29, 1); } */
//text-wrap:balance;
