.home{
    position: relative;
}
.home_title{
    font-size: 9rem;
    line-height: 9rem;
    font-weight: 600;
}
.home_subtitle{
    color: #019872;
    font-size: 2.3rem;
    letter-spacing: .36rem;
    font-weight: 300;
}