.btn-cv{
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:30px;
    /* font-size:14px; */
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.btn-cv:hover{
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
    color: #1d99f2be;
}