<section class="bg-primary-light min-h-screen">
  <div class="container mx-auto p-10">
    <h2 class="font-bold">Sobre mi</h2>

    <p>
      Soy Analista Programador con experiencia en desarrollo web. Explora mis
      proyectos en React, Python, Wordpress y más. Descubre mis habilidades en
      React, Node, Bases de Datos y Gestión de Proyectos.
    </p>
  </div>
</section>
