---
import { Image } from "astro:assets";
---

<section id="about" class="section secc-about bg-primary min-h-screen relative">
  <div class="container mx-auto p-5 md:p-10 flex flex-col gap-6">
    <h2 class="section-title uppercase">Sobre mi /</h2>
    <div class="card border-1 rounded-xl shadow-lg bg-light-grey">
      <div class="image border-5 border-gray-50 rounded-xl">
        <Image
          class="grayscale hover:grayscale-0 transition-all duration-200 rounded-sm"
          src="/images/viktor_pic.webp"
          alt="Una imagen de Viktor González Pinto"
          width={500}
          height={300}
        />
      </div>
      <div class="content rounded-xl p-2 flex flex-col gap-4">
        <p>
          Soy Viktor González Pinto (si, Viktor con K 🤓). Desarrollador
          Fullstack Jr innovador y creativo. Mi interés por la informática
          surgió de niño, aprendiendo autodidactamente.Esta pasión me llevó a
          ser Técnico Nivel Superior en Análisis Programador.
        </p>
        <p>
          Mis habilidades principales incluyen JavaScript, ReactJS, NodeJS y
          bases de datos como MSSQL. Con cerca de un año de experiencia,
          participé en el desarrollo de un sistema de tratado de semillas para
          Semillas Altue (ReactJS, NodeJS, MSSQL), un proyecto colaborativo
          donde apliqué conocimientos y afronté desafíos técnicos en equipo.
        </p>
        <p>
          Me esfuerzo por mejorar e innovar en cada proyecto, buscando
          soluciones eficientes. Mi meta es seguir creciendo en el desarrollo
          web/software, aportando un estilo único y marcando diferencia.
        </p>
      </div>
    </div>
  </div>
</section>
