---
import FlowingMenu from "./FlowingMenu/FlowingMenu";
import CopyToClipboard from "./CopyToClipboard.astro";

const contactLinks = [
  {
    link: "https://github.com/viktorgp98",
    text: "Github",
    image: "/images/github-dark.svg",
  },
  {
    link: "mailto:viktor.gonzalezp98@gmail.com",
    text: "Correo",
    image: "/images/mail.svg",
  },
  {
    link: "https://www.linkedin.com/in/viktorgonzalezp/",
    text: "LinkedIn",
    image: "/images/linkedin.svg",
  },
];
---

<section
  id="contact"
  class="section secc-contact bg-primary dark:bg-dark min-h-screen py-auto relative"
>
  <div
    class="md:w-auto md:mx-auto md:justify-items-center flex flex-col gap-10 py-7"
  >
    <div class="flex flex-col justify-center container mx-auto p-5 md:p-10">
      <h2
        class="section-title text-center uppercase text-dark dark:text-primary pb-7"
      >
        Contacto /
      </h2>
    </div>
    <div
      style={{ height: "600px" }}
      class="bg-primary-light dark:bg-dark-light w-full"
    >
      <FlowingMenu items={contactLinks} />
    </div>
    <div
      class="flex flex-col md:flex-row items-center justify-center container mx-auto w-auto py-7"
    >
      <p class="text-white text-nowrap">Puedes contactarme en</p>
      <CopyToClipboard
        text="viktor.gonzalezp98@gmail.com"
        buttonText="Copiar"
        successText="Copiado!"
        className="text-dark dark:text-light font-bold text-center"
      />
    </div>
  </div>
</section>
