---
import FlowingMenu from "./FlowingMenu/FlowingMenu";

const demoItems = [
  {
    link: "https://www.linkedin.com/in/viktorgonzalezp/",
    text: "LinkedIn",
    image: "https://picsum.photos/600/400?random=1",
  },
  {
    link: "https://github.com/viktorgp98",
    text: "Github",
    image: "/images/github-light.svg",
  },
  {
    link: "mailto:viktor.gonzalezp98@gmail.com",
    text: "Correo",
    image: "https://picsum.photos/600/400?random=3",
  },
];
---

<section id="contact" class="section secc-contact relative bg-primary h-screen">
  <div class="flex flex-col items-center justify-center container mx-auto">
    <div class="relative z-10 p-6 md:p-8 text-white text-center">
      <h2 class="bg-primary text-center">Contáctame</h2>
    </div>
  </div>
  <div style={{ height: "600px" }} class="bg-primary">
    <FlowingMenu items={demoItems} />
  </div>
  <div class="flex flex-col items-center justify-center container mx-auto">
    <p class="text-white text-center">Puedes contactarme en</p>
    <a class="text-center italic" href="mailto:viktor.gonzalezp98@gmail.com"
      ><title>Correo</title>viktor.gonzalezp98@gmail.com</a
    >
  </div>
</section>
