---
import HoverCard from "@/components/HoverCard.astro";
---

<section
  id="projects"
  class="section secc-projects min-h-screen py-10 bg-primary dark:bg-dark relative"
>
  <div class="container mx-auto p-5 md:p-10 py-10 space-y-7">
    <div class="section-title">
      <h2 class="uppercase text-center md:text-left dark:text-primary">
        Proyectos seleccionados /
      </h2>
    </div>
    <div
      class="flex flex-col md:grid grid-cols-4 md:grid-cols-4 grid-rows-7 gap-7"
    >
      <div class="col-span-2 row-span-4 bg-light shadow-lg">
        <HoverCard
          id="1"
          title="Prueba 1"
          image="https://picsum.photos/600/400?random=2"
        />
      </div>
      <div
        class="col-span-2 row-span-3 col-start-1 row-start-5 bg-light overflow-hidden shadow-lg"
      >
        <HoverCard id="2" image="https://picsum.photos/600/400?random=1" />
      </div>
      <div
        class="col-span-2 row-span-3 col-start-3 row-start-1 bg-light shadow-lg"
      >
        <HoverCard id="3" image="https://picsum.photos/600/400?random=3" />
      </div>
      <div
        class="col-span-2 row-span-4 col-start-3 row-start-4 bg-light shadow-lg"
      >
        <HoverCard id="4" image="https://picsum.photos/600/400?random=5" />
      </div>
    </div>
  </div>
</section>
