<section id="skills" class="secc-skills bg-primary h-screen">
  <div class="container mx-auto p-10">
    <h2>Skills</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta
      impedit eos quas, non dignissimos accusamus, exercitationem provident
      voluptatum similique ad aut ab corrupti ipsum voluptatibus aliquid facilis
      nam optio.
    </p>
  </div>
</section>
