body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blanco);
}
:root{
  /* --gris-max: #595959; */
  --gris-max:#222326;
  --gris-oscuro:#33353a;
  --gris-osc:#8C8C8C;
  --gris-mid:#BFBFBF;
  --gris-claro:#D9D9D9;
  --blanco:#F2F2F2;
}
*{
  font-family: 'Clash Display', sans-serif !important;
}

.title_section{
  font-size: 6em !important;
}
