---
import "@/styles/global.css";
const { title = "Viktor Gonzalez P |  FullStack Web Developer Junior" } =
  Astro.props;
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
      style="height: 16px; width: 16px;"
    />
    <meta
      name="description"
      content="Portafolio de Viktor Ariel González Pinto, Analista Programador con experiencia en desarrollo web.  Explora mis proyectos en  React, Python, Wordpress y más. 
      Descubre mis habilidades en  React, Node, Bases de Datos y Gestión de Proyectos."
    />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import Lenis from "lenis";
      import gsap from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";
      // Initialize a new Lenis instance for smooth scrolling
      const lenis = new Lenis({
        anchors: true,
      });

      // Synchronize Lenis scrolling with GSAP's ScrollTrigger plugin
      lenis.on("scroll", ScrollTrigger.update);

      // Add Lenis's requestAnimationFrame (raf) method to GSAP's ticker
      // This ensures Lenis's smooth scroll animation updates on each GSAP tick
      gsap.ticker.add((time) => {
        lenis.raf(time * 1000); // Convert time from seconds to milliseconds
      });

      // Disable lag smoothing in GSAP to prevent any delay in scroll animations
      gsap.ticker.lagSmoothing(0);
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  main {
    min-height: 100vh;
  }
</style>
